<link rel="stylesheet" href="../src/components/popover/style/index.css"/>
<link rel="stylesheet" href="../src/components/button/style/index.css"/>

<h2>Popover 气泡卡片</h2>

<div class="ant-card ant-card-bordered">
    <div class="ant-card-head"><h4 class="ant-card-head-title">平行排列</h4></div>
    <div class="ant-card-extra"><a href="#">More</a></div>
    <div class="ant-card-body">
        <button type="button" class="ant-btn ant-btn-primary"><span>弹出卡片</span></button>
    </div>
    <div class="code-box">
        <div class="code-box-title"><a href="#components-button-demo-basic">样例类型</a></div>
        <span>样例说明</span>
        <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
    </div>
    <div class="code-body">
        这里是样例代码<
    </div>
</div>

<div class="ant-popover ant-popover-placement-top"
     style="left: 229.562px;top: 135.347px; transform-origin: 50% 75.0653px 0px;">
    <div class="ant-popover-content">
        <div class="ant-popover-arrow"></div>
        <div class="ant-popover-inner">
            <div>
                <div class="ant-popover-title">标题</div>
                <div class="ant-popover-inner-content">
                    <div><a>关闭卡片</a></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ant-row">
    <div class="ant-col-11">

    </div>
    <div class="ant-col-11 ant-col-offset-2">
    </div>
</div>
