<link rel="stylesheet" href="../src/components/dropdown/style/index.css"/>

<h2>Dropdown 下拉菜单</h2>

<div class="ant-card ant-card-bordered">
    <div class="ant-card-head"><h4 class="ant-card-head-title">平行排列</h4></div>
    <div class="ant-card-extra"><a href="#">More</a></div>
    <div class="ant-card-body">
        <a class="ant-dropdown-link" href="#"><!-- react-text: 15360 -->触发链接 <!-- /react-text --><i
                class="anticon anticon-down"></i></a>
    </div>
    <div class="code-box">
        <div class="code-box-title"><a href="#components-button-demo-basic">样例类型</a></div>
        <span>样例说明</span>
        <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
    </div>
    <div class="code-body">
        这里是样例代码<
    </div>
</div>

<!-- ant-dropdown-hidden  隐藏类 -->
<div class="ant-dropdown  ant-dropdown-placement-bottomLeft"
     style="left: 282.926px;top: 238.264px;">
    <ul class="ant-dropdown-menu ant-dropdown-menu-vertical  ant-dropdown-menu-light ant-dropdown-menu-root" role="menu"
        aria-activedescendant="" tabindex="0">
        <li class="ant-dropdown-menu-item" role="menuitem" aria-selected="false"><a target="_blank"
                                                                                    href="http://www.alipay.com/">第一个菜单项</a>
        </li>
        <li class="ant-dropdown-menu-item" role="menuitem" aria-selected="false"><a target="_blank"
                                                                                    href="http://www.taobao.com/">第二个菜单项</a>
        </li>
        <li class="ant-dropdown-menu-item" role="menuitem" aria-selected="false"><a target="_blank"
                                                                                    href="http://www.tmall.com/">第三个菜单项</a>
        </li>
    </ul>
</div>
