<link rel="stylesheet" href="../src/components/tag/style/index.css"/>

<h2>标签</h2>

<div class="ant-card ant-card-bordered">
    <div class="ant-card-body">

        <p class="tit">基本</p>
        <div>
            <div data-show="true" class="ant-tag"><span class="ant-tag-text">标签一</span><!-- react-text: 1961 -->
                <!-- /react-text --></div>
            <div data-show="true" class="ant-tag"><span class="ant-tag-text">标签二</span><!-- react-text: 1964 -->
                <!-- /react-text --></div>
            <div data-show="true" class="ant-tag"><span class="ant-tag-text">标签三</span><i
                    class="anticon anticon-cross"></i></div>
            <div data-show="true" class="ant-tag">
                <span class="ant-tag-text">
                    <a href="https://www.alipay.com/" target="_blank">标签四（链接</a>
                </span>
                <i class="anticon anticon-cross"></i>
            </div>
        </div>

    </div>
</div>

<div class="ant-card ant-card-bordered">
    <div class="ant-card-body">

        <p class="tit">各种类型</p>
        <div>
            <div data-show="true" class="ant-tag ant-tag-blue"><span class="ant-tag-text">蓝色</span><i
                    class="anticon anticon-cross"></i></div>
            <div data-show="true" class="ant-tag ant-tag-green"><span class="ant-tag-text">绿色</span><i
                    class="anticon anticon-cross"></i></div>
            <div data-show="true" class="ant-tag ant-tag-yellow"><span class="ant-tag-text"><a
                    href="https://github.com/ant-design/ant-design/issues/1862">黄色</a></span><i
                    class="anticon anticon-cross"></i></div>
            <div data-show="true" class="ant-tag ant-tag-red"><span class="ant-tag-text">红色</span><i
                    class="anticon anticon-cross"></i></div>
        </div>


    </div>
</div>

<div class="ant-card ant-card-bordered">
    <div class="ant-card-body">

        <p class="tit">动态添加与删除</p>
        <div>
            <div data-show="true" class="ant-tag"><span class="ant-tag-text">不可移除</span><!-- react-text: 1988 -->
                <!-- /react-text --></div>
            <div data-show="true" class="ant-tag"><span class="ant-tag-text">标签二</span><i
                    class="anticon anticon-cross"></i></div>
            <div data-show="true" class="ant-tag"><span class="ant-tag-text">标签三</span><i
                    class="anticon anticon-cross"></i></div>
            <button type="button" class="ant-btn ant-btn-dashed ant-btn-sm"><span>+ 添加标签</span></button>
        </div>


    </div>
</div>
