<link rel="stylesheet" href="../src/components/input/style/index.css"/>
<link rel="stylesheet" href="../src/components/cascader/style/index.css"/>
<h2>级联选择框</h2>
<h3>样式依赖</h3>
<p class="describe">除了依赖style中的base样式，还依赖Input 输入框样式</p>
<div class="ant-card ant-card-bordered" style="width: 400px;">
    <div class="ant-card-head"><h4 class="ant-card-head-title">多选框类型</h4></div>
    <div class="ant-card-extra"><a href="#">More</a></div>
    <div class="ant-card-body">
        <p class="tit">级联选择框</p>
        <span class="ant-cascader-picker"><span class="ant-input-wrapper">
            <input type="text" class="ant-input ant-cascader-input ant-input " readonly="" placeholder="请选择地区"></span>
            <span class="ant-cascader-picker-label"></span>
            <i class="ant-cascader-picker-clear anticon anticon-cross-circle"></i>
            <i class="ant-cascader-picker-arrow anticon anticon-down"></i>
        </span>
    </div>
</div>

<!--  浮动窗体  -->
<div class="ant-cascader-menus ant-cascader-menus-placement-bottomLeft" style="left: 284.641px; top: 434.344px;">
    <ul class="ant-cascader-menu">
        <li class="ant-cascader-menu-item ant-cascader-menu-item-active" title="浙江">浙江</li>
        <li class="ant-cascader-menu-item" title="江苏">江苏</li>
    </ul>
    <ul class="ant-cascader-menu">
        <li class="ant-cascader-menu-item ant-cascader-menu-item-active" title="杭州">杭州</li>
    </ul>
    <ul class="ant-cascader-menu">
        <li class="ant-cascader-menu-item ant-cascader-menu-item-active" title="西湖">西湖</li>
    </ul>
</div>
