<link rel="stylesheet" href="../src/components/radio/style/index.css"/>

<h2>Radio 单选框</h2>

<div class="ant-card ant-card-bordered">
    <div class="ant-card-head"><h4 class="ant-card-head-title">类型</h4></div>
    <div class="ant-card-extra"><a href="#">More</a></div>
    <div class="ant-card-body">
        <p class="tit">1.基本</p>
        <label class="ant-radio-wrapper"><span class="ant-radio"><span class="ant-radio-inner"></span><input
                type="radio" class="ant-radio-input"></span><span>Radio</span></label>
        <p class="tit">2.互斥组合</p>
        <div class="ant-radio-group"><label class="ant-radio-wrapper ant-radio-wrapper-checked"><span
                class="ant-radio ant-radio-checked ant-radio ant-radio-checked ant-radio-checked-1"><span
                class="ant-radio-inner"></span><input type="radio" class="ant-radio-input"></span><span>A</span></label><label
                class="ant-radio-wrapper"><span class="ant-radio"><span class="ant-radio-inner"></span><input
                type="radio" class="ant-radio-input"></span><span>B</span></label><label class="ant-radio-wrapper"><span
                class="ant-radio"><span class="ant-radio-inner"></span><input type="radio"
                                                                              class="ant-radio-input"></span><span>C</span></label><label
                class="ant-radio-wrapper"><span class="ant-radio"><span class="ant-radio-inner"></span><input
                type="radio" class="ant-radio-input"></span><span>D</span></label></div>
        <p class="tit">3.不可用</p>
        <div><label class="ant-radio-wrapper ant-radio-wrapper-disabled"><span
                class="ant-radio ant-radio-disabled ant-radio ant-radio-disabled"><span
                class="ant-radio-inner"></span><input type="radio" disabled=""
                                                      class="ant-radio-input"></span><span>不可用</span></label><br><label
                class="ant-radio-wrapper ant-radio-wrapper-disabled"><span
                class="ant-radio ant-radio-disabled ant-radio ant-radio-checked ant-radio-checked-1 ant-radio-disabled"><span
                class="ant-radio-inner"></span><input type="radio" disabled=""
                                                      class="ant-radio-input"></span><span>不可用</span></label>
        </div>
        <p class="tit">4.垂直排列</p>
        <div class="ant-radio-group"><label class="ant-radio-wrapper ant-radio-wrapper-checked"
                                            style="display: block; height: 30px; line-height: 30px;"><span
                class="ant-radio ant-radio-checked ant-radio ant-radio-checked ant-radio-checked-1"><span
                class="ant-radio-inner"></span><input type="radio" class="ant-radio-input"></span><span>Option A</span></label><label
                class="ant-radio-wrapper" style="display: block; height: 30px; line-height: 30px;"><span
                class="ant-radio"><span class="ant-radio-inner"></span><input type="radio"
                                                                              class="ant-radio-input"></span><span>Option B</span></label><label
                class="ant-radio-wrapper" style="display: block; height: 30px; line-height: 30px;"><span
                class="ant-radio"><span class="ant-radio-inner"></span><input type="radio"
                                                                              class="ant-radio-input"></span><span>Option C</span></label><label
                class="ant-radio-wrapper" style="display: block; height: 30px; line-height: 30px;"><span
                class="ant-radio"><span class="ant-radio-inner"></span><input type="radio"
                                                                              class="ant-radio-input"></span><span><!-- react-text: 8644 -->More...
            </span></label></div>
    </div>
    <div class="code-box">
        <div class="code-box-title"><a href="#components-button-demo-basic">radio</a></div>
        <span>radio组合样例</span>
        <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
    </div>
    <div class="code-body">

    </div>
</div>
