<link rel="stylesheet" href="../src/components/badge/style/index.css"/>
<link rel="stylesheet" href="../src/components/button/style/index.css"/>
<style>.ant-badge {
    margin-right: 16px;
}

.head-example {
    width: 42px;
    height: 42px;
    border-radius: 6px;
    background: #eee;
    display: inline-block;
}</style>
<h2>Badge 徽标数</h2>

<div class="ant-row">
    <div class="ant-col-11">
        <div class="ant-card ant-card-bordered">
            <div class="ant-card-head"><h4 class="ant-card-head-title">平行排列</h4></div>
            <div class="ant-card-extra"><a href="#">More</a></div>
            <div class="ant-card-body">
                <p class="tit">基本样式</p>
                <span class="ant-badge" title="5"><a href="#" class="head-example"></a><sup data-show="true" height="18"
                                                                                            class="ant-scroll-number ant-badge-count"><span
                        class="ant-scroll-number-only"
                        style="transition: none; transform: translateY(-270px); height: 18px;"><p>0</p><p>1</p><p>2</p><p>3</p><p>4</p><p>5</p><p>6</p><p>7</p><p>8</p><p>9</p><p>0</p><p>1</p><p>2</p><p>3</p><p>4</p><p
                        class="current">5</p><p>6</p><p>7</p><p>8</p><p>9</p><p>0</p><p>1</p><p>2</p><p>3</p><p>4</p><p>5</p><p>6</p><p>7</p><p>8</p><p>9</p></span></sup></span>
                <p class="tit">大数字</p>

                <div><span class="ant-badge" title="99"><a href="#" class="head-example"></a><sup data-show="true"
                                                                                                  height="18"
                                                                                                  class="ant-scroll-number ant-badge-count"><span
                        class="ant-scroll-number-only"
                        style="transition: none; transform: translateY(-342px); height: 18px;"><p>0</p><p>1</p><p>2</p><p>3</p><p>4</p><p>5</p><p>6</p><p>7</p><p>8</p><p>9</p><p>0</p><p>1</p><p>2</p><p>3</p><p>4</p><p>5</p><p>6</p><p>7</p><p>8</p><p
                        class="current">9</p><p>0</p><p>1</p><p>2</p><p>3</p><p>4</p><p>5</p><p>6</p><p>7</p><p>8</p><p>9</p></span><span
                        class="ant-scroll-number-only"
                        style="transition: none; transform: translateY(-342px); height: 18px;"><p>0</p><p>1</p><p>2</p><p>3</p><p>4</p><p>5</p><p>6</p><p>7</p><p>8</p><p>9</p><p>0</p><p>1</p><p>2</p><p>3</p><p>4</p><p>5</p><p>6</p><p>7</p><p>8</p><p
                        class="current">9</p><p>0</p><p>1</p><p>2</p><p>3</p><p>4</p><p>5</p><p>6</p><p>7</p><p>8</p><p>9</p></span></sup></span><span
                        class="ant-badge" title="99+"><a href="#" class="head-example"></a><sup data-show="true"
                                                                                                height="18"
                                                                                                class="ant-scroll-number ant-badge-count">99+</sup></span>
                </div>
                <p class="tit">封顶数字</p>
                <div><span class="ant-badge" title="10+"><a href="#" class="head-example"></a><sup data-show="true"
                                                                                                   height="18"
                                                                                                   class="ant-scroll-number ant-badge-count">10+</sup></span><span
                        class="ant-badge" title="999+"><a href="#" class="head-example"></a><sup data-show="true"
                                                                                                 height="18"
                                                                                                 class="ant-scroll-number ant-badge-count">999+</sup></span>
                </div>
            </div>
            <div class="code-box">
                <div class="code-box-title"><a href="#components-button-demo-basic">样例类型</a></div>
                <span>样例说明</span>
                <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
            </div>
            <div class="code-body">
                这里是样例代码<
            </div>
        </div>
    </div>
    <div class="ant-col-11 ant-col-offset-2">
        <div class="ant-card ant-card-bordered">
            <div class="ant-card-head"><h4 class="ant-card-head-title">平行排列</h4></div>
            <div class="ant-card-extra"><a href="#">More</a></div>
            <div class="ant-card-body">
                <p class="tit">讨嫌的小红点</p>
                <div><span class="ant-badge" title=""><i class="anticon anticon-notification"></i><sup data-show="true"
                                                                                                       height="18"
                                                                                                       class="ant-scroll-number ant-badge-dot"></sup></span><span
                        class="ant-badge" title=""><a href="#">一个链接</a><sup data-show="true" height="18"
                                                                            class="ant-scroll-number ant-badge-dot"></sup></span>
                </div>
                <p class="tit">独立使用</p>
                <div><span class="ant-badge ant-badge-not-a-wrapper" title="25"><sup data-show="true" height="18"
                                                                                     class="ant-scroll-number ant-badge-count"><span
                        class="ant-scroll-number-only"
                        style="transition: none; transform: translateY(-216px); height: 18px;"><p>0</p><p>1</p><p>2</p><p>3</p><p>4</p><p>5</p><p>6</p><p>7</p><p>8</p><p>9</p><p>0</p><p>1</p><p
                        class="current">2</p><p>3</p><p>4</p><p>5</p><p>6</p><p>7</p><p>8</p><p>9</p><p>0</p><p>1</p><p>2</p><p>3</p><p>4</p><p>5</p><p>6</p><p>7</p><p>8</p><p>9</p></span><span
                        class="ant-scroll-number-only"
                        style="transition: none; transform: translateY(-270px); height: 18px;"><p>0</p><p>1</p><p>2</p><p>3</p><p>4</p><p>5</p><p>6</p><p>7</p><p>8</p><p>9</p><p>0</p><p>1</p><p>2</p><p>3</p><p>4</p><p
                        class="current">5</p><p>6</p><p>7</p><p>8</p><p>9</p><p>0</p><p>1</p><p>2</p><p>3</p><p>4</p><p>5</p><p>6</p><p>7</p><p>8</p><p>9</p></span></sup></span><span
                        class="ant-badge ant-badge-not-a-wrapper" title="4"><sup data-show="true" height="18"
                                                                                 class="ant-scroll-number ant-badge-count"
                                                                                 style="color: rgb(153, 153, 153); border-color: rgb(217, 217, 217); background-color: rgb(255, 255, 255);"><span
                        class="ant-scroll-number-only"
                        style="transition: none; transform: translateY(-252px); height: 18px;"><p>0</p><p>1</p><p>2</p><p>3</p><p>4</p><p>5</p><p>6</p><p>7</p><p>8</p><p>9</p><p>0</p><p>1</p><p>2</p><p>3</p><p
                        class="current">4</p><p>5</p><p>6</p><p>7</p><p>8</p><p>9</p><p>0</p><p>1</p><p>2</p><p>3</p><p>4</p><p>5</p><p>6</p><p>7</p><p>8</p><p>9</p></span></sup></span><span
                        class="ant-badge ant-badge-not-a-wrapper" title="99+"><sup data-show="true" height="18"
                                                                                   class="ant-scroll-number ant-badge-count"
                                                                                   style="background-color: rgb(135, 208, 104);">99+</sup></span>
                </div>
                <p class="tit">动态</p>
                <div><span class="ant-badge" title="5"><a href="#" class="head-example"></a><sup data-show="true"
                                                                                                 height="18"
                                                                                                 class="ant-scroll-number ant-badge-count"><span
                        class="ant-scroll-number-only"
                        style="transition: none; transform: translateY(-270px); height: 18px;"><p>0</p><p>1</p><p>2</p><p>3</p><p>4</p><p>5</p><p>6</p><p>7</p><p>8</p><p>9</p><p>0</p><p>1</p><p>2</p><p>3</p><p>4</p><p
                        class="current">5</p><p>6</p><p>7</p><p>8</p><p>9</p><p>0</p><p>1</p><p>2</p><p>3</p><p>4</p><p>5</p><p>6</p><p>7</p><p>8</p><p>9</p></span></sup></span><span
                        class="ant-badge" title=""><a href="#" class="head-example"></a><sup data-show="true"
                                                                                             height="18"
                                                                                             class="ant-scroll-number ant-badge-dot"></sup></span>
                    <div style="margin-top: 10px;">
                        <div class="ant-btn-group">
                            <button type="button" class="ant-btn ant-btn-ghost"><i class="anticon anticon-minus"></i>
                            </button>
                            <button type="button" class="ant-btn ant-btn-ghost"><i class="anticon anticon-plus"></i>
                            </button>
                        </div>
                        <button type="button" class="ant-btn ant-btn-ghost" style="margin-left: 8px;">
                            <span>切换红点显隐</span></button>
                    </div>
                </div>
            </div>
            <div class="code-box">
                <div class="code-box-title"><a href="#components-button-demo-basic">样例类型</a></div>
                <span>样例说明</span>
                <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
            </div>
            <div class="code-body">
                这里是样例代码<
            </div>
        </div>
    </div>
</div>
