<link rel="stylesheet" href="../src/components/back-top/style/index.css"/>


<h2>回到顶部</h2>


<div class="ant-card ant-card-bordered" style="width: 400px;">
    <div class="ant-card-head"><h4 class="ant-card-head-title">加载中类型</h4></div>
    <div class="ant-card-extra"><a href="#">More</a></div>
    <div class="ant-card-body">

        <p class="tit">基本用法</p>
        <section class="code-box-demo">
            <div><span><div data-show="true" class="" style="display: block;"><div class="ant-back-top"><div
                    class="ant-back-top-content"><i
                    class="ant-back-top-icon anticon anticon-to-top"></i></div></div></div></span>
                </div>
        </section>


        <p class="tit">自定义样式</p>
        <div>
            <span>
                <div data-show="true" class="" style="display: block;">
                    <div class="ant-back-top" style="bottom: 100px;">
                        <div style="height: 40px; width: 40px; line-height: 40px; border-radius: 4px; color: rgb(255, 255, 255); text-align: center; font-size: 20px; background-color: rgb(87, 197, 247);">UP</div>
                    </div>
                </div>
            </span>
        </div>


    </div>
</div>
