<link rel="stylesheet" href="../src/components/switch/style/index.css"/>

<h2>Switch 开关</h2>

<div class="ant-card ant-card-bordered" style="width: 400px;">
    <div class="ant-card-body">
        <p class="tit">基本</p>
        <span class="ant-switch" tabindex="0"><span class="ant-switch-inner"></span></span>
        <span class="ant-switch ant-switch-checked" tabindex="0"><span class="ant-switch-inner"></span></span>
        <p class="tit">文字和图标</p>
        <div><span class="ant-switch" tabindex="0"><span class="ant-switch-inner">关</span></span><span class="ant-switch" tabindex="0"><span class="ant-switch-inner"><i class="anticon anticon-cross"></i></span></span></div>
        <p class="tit">禁用</p>
        <span class="ant-switch ant-switch-disabled" tabindex="0"><span class="ant-switch-inner"></span></span>
        <p class="tit">大</p>
        <div><span class="ant-switch" tabindex="0"><span class="ant-switch-inner"></span></span>
            <p class="tit">小</p>
            <span class="ant-switch-small ant-switch" tabindex="0"><span class="ant-switch-inner"></span></span></div>
    </div>
    <div class="code-box">
        <div class="code-box-title"><a href="#components-button-demo-basic">样例类型</a></div>
        <span>样例说明</span>
        <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
    </div>
    <div class="code-body">
        这里是样例代码<
    </div>
</div>

