<link rel="stylesheet" href="../src/components/popconfirm/style/index.css"/>

<h2>Popconfirm 气泡确认框</h2>

<div class="ant-card ant-card-bordered">
    <div class="ant-card-head"><h4 class="ant-card-head-title">平行排列</h4></div>
    <div class="ant-card-extra"><a href="#">More</a></div>
    <div class="ant-card-body">

    </div>
    <div class="code-box">
        <div class="code-box-title"><a href="#components-button-demo-basic">样例类型</a></div>
        <span>样例说明</span>
        <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
    </div>
    <div class="code-body">
        这里是样例代码<
    </div>
</div>



<div class="ant-row">
    <div class="ant-col-11">

    </div>
    <div class="ant-col-11 ant-col-offset-2">
    </div>
</div>
