<link rel="stylesheet" href="../src/components/rate/style/index.css"/>

<h2>rate 评分</h2>

<div class="ant-card ant-card-bordered">
    <div class="ant-card-body">
        <span><ul class="ant-rate "><li class="ant-rate-star ant-rate-star-full"><div
                class="ant-rate-star-content"></div></li><li class="ant-rate-star ant-rate-star-full"><div
                class="ant-rate-star-content"></div></li><li class="ant-rate-star ant-rate-star-zero"><div
                class="ant-rate-star-content"></div></li><li class="ant-rate-star ant-rate-star-zero"><div
                class="ant-rate-star-content"></div></li><li class="ant-rate-star ant-rate-star-zero"><div
                class="ant-rate-star-content"></div></li></ul><span class="ant-rate-text"><!-- react-text: 3908 -->3
            <!-- /react-text --><!-- react-text: 3909 --> 星<!-- /react-text --></span></span>
    </div>
    <div class="code-box">
        <div class="code-box-title"><a href="#components-button-demo-basic">整颗星</a></div>
        <span>增减每次1星</span>
        <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
    </div>
    <div class="code-body">

    </div>
</div>

<div class="ant-card ant-card-bordered">
    <div class="ant-card-body">
        <ul class="ant-rate ">
            <li class="ant-rate-star ant-rate-star-full">
                <div class="ant-rate-star-content"></div>
            </li>
            <li class="ant-rate-star ant-rate-star-full">
                <div class="ant-rate-star-content"></div>
            </li>
            <li class="ant-rate-star ant-rate-star-half ant-rate-star-active">
                <div class="ant-rate-star-content"></div>
            </li>
            <li class="ant-rate-star ant-rate-star-zero">
                <div class="ant-rate-star-content"></div>
            </li>
            <li class="ant-rate-star ant-rate-star-zero">
                <div class="ant-rate-star-content"></div>
            </li>
        </ul>
    </div>
    <div class="code-box">
        <div class="code-box-title"><a href="#components-button-demo-basic">半颗星</a></div>
        <span>增减每次半颗星</span>
        <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
    </div>
    <div class="code-body">

    </div>
</div>
