<link rel="stylesheet" href="../src/components/breadcrumb/style/index.css"/>

<h2>面包屑</h2>


<div class="ant-row">
    <div class="ant-col-11">
        <div class="ant-card ant-card-bordered">
            <div class="ant-card-body">

                <p class="tit">基本</p>
                <div class="ant-breadcrumb"><span><span class="ant-breadcrumb-link">Home</span><span
                        class="ant-breadcrumb-separator">/</span></span><span><span class="ant-breadcrumb-link"><a
                        href="">Application Center</a></span><span
                        class="ant-breadcrumb-separator">/</span></span><span><span class="ant-breadcrumb-link"><a
                        href="">Application List</a></span><span
                        class="ant-breadcrumb-separator">/</span></span><span><span class="ant-breadcrumb-link">An Application</span><span
                        class="ant-breadcrumb-separator">/</span></span>
                </div>

            </div>
        </div>


        <div class="ant-card ant-card-bordered">
            <div class="ant-card-body">

                <p class="tit">分隔符</p>
                <div class="ant-breadcrumb"><span><span class="ant-breadcrumb-link">Home</span><span
                        class="ant-breadcrumb-separator">&gt;</span></span><span><a class="ant-breadcrumb-link" href="">Application Center</a><span
                        class="ant-breadcrumb-separator">&gt;</span></span><span><a class="ant-breadcrumb-link" href="">Application List</a><span
                        class="ant-breadcrumb-separator">&gt;</span></span><span><span class="ant-breadcrumb-link">An Application</span><span
                        class="ant-breadcrumb-separator">&gt;</span></span>
                </div>

            </div>
        </div>


    </div>

    <div class="ant-col-11 ant-col-offset-2">
        <div class="ant-card ant-card-bordered">
            <div class="ant-card-body">

                <p class="tit">带图标的</p>
                <div class="ant-breadcrumb"><span><a class="ant-breadcrumb-link" href=""><i
                        class="anticon anticon-home"></i></a><span
                        class="ant-breadcrumb-separator">/</span></span><span><a class="ant-breadcrumb-link" href=""><i
                        class="anticon anticon-user"></i><!-- react-text: 965 -->Application List
                    <!-- /react-text --></a><span class="ant-breadcrumb-separator">/</span></span><span><span
                        class="ant-breadcrumb-link">Application</span><span
                        class="ant-breadcrumb-separator">/</span></span>
                </div>

            </div>
        </div>


    </div>
</div>
