<link rel="stylesheet" href="../src/components/card/style/index.css"/>
<style>
    .custom-card {
        padding: 10px 16px;
    }
</style>
<h2>Card 卡片</h2>

<div class="ant-card ant-card-bordered">
    <div class="ant-card-head"><h4 class="ant-card-head-title">平行排列</h4></div>
    <div class="ant-card-extra"><a href="#">More</a></div>
    <div class="ant-card-body">
        <p class="tit">带边框</p>
        <div class="ant-card ant-card-bordered" style="width: 300px;">
            <div class="ant-card-head"><h3 class="ant-card-head-title">Card title</h3></div>
            <div class="ant-card-extra"><a href="#">More</a></div>
            <div class="ant-card-body"><p>Card content</p>
                <p>Card content</p>
                <p>Card content</p></div>
        </div>
        <p class="tit">不带边框</p>
        <div class="ant-card" style="width: 300px;">
            <div class="ant-card-head"><h3 class="ant-card-head-title">Card title</h3></div>
            <div class="ant-card-extra"><a href="#">More</a></div>
            <div class="ant-card-body"><p>Card content</p>
                <p>Card content</p>
                <p>Card content</p></div>
        </div>
        <p class="tit">简介卡片</p>
        <div class="ant-card ant-card-bordered" style="width: 300px;">
            <div class="ant-card-body"><p>Card content</p>
                <p>Card content</p>
                <p>Card content</p></div>
        </div>
        <p class="tit">灵活的展示</p>
        <div class="ant-card ant-card-bordered" style="width: 240px;">
            <div class="ant-card-body" style="padding: 0px;">
                <div class="custom-image"><img alt="example" width="100%"
                                               src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"></div>
                <div class="custom-card"><h3>Europe Street beat</h3>
                    <p>www.instagram.com</p></div>
            </div>
        </div>
        <p class="tit">预加载</p>
        <div class="ant-card ant-card-loading ant-card-bordered" style="width: 34%;">
            <div class="ant-card-head"><h3 class="ant-card-head-title">Card title</h3></div>
            <div class="ant-card-body">
                <div><p>████████████████████████</p>
                    <p>██████　███████████████████</p>
                    <p>██████████████　██████████</p>
                    <p>█████　██████　█████████████</p>
                    <p>███████████　██████████　███</p></div>
            </div>
        </div>
    </div>
    <div class="code-box">
        <div class="code-box-title"><a href="#components-button-demo-basic">样例类型</a></div>
        <span>样例说明</span>
        <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
    </div>
    <div class="code-body">
        这里是样例代码<
    </div>
</div>


<div class="ant-row">
    <div class="ant-col-11">

    </div>
    <div class="ant-col-11 ant-col-offset-2">
    </div>
</div>
