<link rel="stylesheet" href="../src/components/upload/style/index.css"/>
<link rel="stylesheet" href="../src/components/button/style/index.css"/>
<link rel="stylesheet" href="../src/components/progress/style/index.css"/>

<h2>Upload 上传</h2>

<div class="ant-card ant-card-bordered">
    <div class="ant-card-body">
        <div class="ant-upload ant-upload-select ant-upload-select-text"><span role="button" tabindex="0"
                                                                               class="rc-upload"><input type="file"
                                                                                                        accept=""
                                                                                                        style="display: none;"><button
                type="button" class="ant-btn ant-btn-ghost"><i
                class="anticon anticon-upload"></i><span> 点击上传</span></button></span></div>

        <div class="ant-upload-list ant-upload-list-text"><span><div
                class="ant-upload-list-item ant-upload-list-item-uploading"><div class="ant-upload-list-item-info"><i
                class="anticon anticon-paper-clip"></i><span class="ant-upload-list-item-name">3.jpg</span><i
                class="anticon anticon-cross"></i></div><div class="ant-upload-list-item-progress"><div
                class="ant-progress ant-progress-line ant-progress-status-success"><div><div class="ant-progress-outer"><div
                class="ant-progress-inner"><div class="ant-progress-bg"
                                                style="width: 100%; height: 3px;"></div></div></div></div></div></div></div></span>
        </div>
        <div class="ant-upload-list ant-upload-list-text"><span><div
                class="ant-upload-list-item ant-upload-list-item-uploading"><div class="ant-upload-list-item-info"><i
                class="anticon anticon-paper-clip"></i><span class="ant-upload-list-item-name">003.PNG</span><i
                class="anticon anticon-cross"></i></div><div class="ant-upload-list-item-progress"><div
                class="ant-progress ant-progress-line ant-progress-status-normal"><div><div class="ant-progress-outer"><div
                class="ant-progress-inner"><div class="ant-progress-bg"
                                                style="width: 20.4253%; height: 3px;"></div></div></div></div></div></div></div></span>
        </div>
    </div>
    <div class="code-box">
        <div class="code-box-title"><a href="#components-button-demo-basic">点击上传</a></div>
        <span>经典款式，用户点击按钮弹出文件选择框。</span>
        <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
    </div>
    <div class="code-body">
        这里是样例代码<
    </div>
</div>


<div class="ant-row">
    <div class="ant-col-11">

    </div>
    <div class="ant-col-11 ant-col-offset-2">
    </div>
</div>
