<link rel="stylesheet" href="../src/components/alert/style/index.css"/>

<h2>Alert 警告提示</h2>

<div class="ant-card ant-card-bordered" style="width: 600px;">
    <div class="ant-card-body">
        <div>
            <div data-show="true" class="ant-alert ant-alert-success ant-alert-no-icon"><span class="ant-alert-message">成功提示的文案</span><span
                    class="ant-alert-description"></span></div>
            <div data-show="true" class="ant-alert ant-alert-info ant-alert-no-icon"><span class="ant-alert-message">消息提示的文案</span><span
                    class="ant-alert-description"></span></div>
            <div data-show="true" class="ant-alert ant-alert-warning ant-alert-no-icon"><span class="ant-alert-message">警告提示的文案</span><span
                    class="ant-alert-description"></span><a class="ant-alert-close-icon"><i
                    class="anticon anticon-cross"></i></a></div>
            <div data-show="true" class="ant-alert ant-alert-error ant-alert-no-icon"><span class="ant-alert-message">错误提示的文案</span><span
                    class="ant-alert-description"></span></div>
        </div>
    </div>
    <div class="code-box">
        <div class="code-box-title"><a href="#components-button-demo-basic">4种基本样式</a></div>
        <span>样例说明</span>
        <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
    </div>
    <div class="code-body">
        这里是样例代码<
    </div>
</div>

<div class="ant-card ant-card-bordered" style="width: 600px;">
    <div class="ant-card-body">
        <div>
            <div data-show="true" class="ant-alert ant-alert-success ant-alert-with-description ant-alert-no-icon"><span
                    class="ant-alert-message">成功提示的文案</span><span class="ant-alert-description">成功提示的辅助性文字介绍成功提示的辅助性文字介绍成功提示的辅助性文字介绍成功提示的辅助性文字介绍</span>
            </div>
            <div data-show="true" class="ant-alert ant-alert-info ant-alert-with-description ant-alert-no-icon"><span
                    class="ant-alert-message">消息提示的文案</span><span class="ant-alert-description">消息提示的辅助性文字介绍消息提示的辅助性文字介绍消息提示的辅助性文字介绍</span>
            </div>
            <div data-show="true" class="ant-alert ant-alert-warning ant-alert-with-description ant-alert-no-icon"><span
                    class="ant-alert-message">警告提示的文案</span><span
                    class="ant-alert-description">警告提示的辅助性文字介绍警告提示的辅助性文字介绍</span></div>
            <div data-show="true" class="ant-alert ant-alert-error ant-alert-with-description ant-alert-no-icon"><span
                    class="ant-alert-message">错误提示的文案</span><span class="ant-alert-description">错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍</span>
            </div>
        </div>
    </div>
    <div class="code-box">
        <div class="code-box-title"><a href="#components-button-demo-basic">含辅助文字介绍</a></div>
        <span>样例说明</span>
        <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
    </div>
    <div class="code-body">
        这里是样例代码
    </div>
</div>


<div class="ant-card ant-card-bordered" style="width: 600px;">
    <div class="ant-card-body">
        <div>
            <div data-show="true" class="ant-alert ant-alert-success"><i
                    class="ant-alert-icon anticon anticon-check-circle"></i><span
                    class="ant-alert-message">成功提示的文案</span><span class="ant-alert-description"></span></div>
            <div data-show="true" class="ant-alert ant-alert-info"><i
                    class="ant-alert-icon anticon anticon-info-circle"></i><span
                    class="ant-alert-message">消息提示的文案</span><span class="ant-alert-description"></span></div>
            <div data-show="true" class="ant-alert ant-alert-warning"><i
                    class="ant-alert-icon anticon anticon-exclamation-circle"></i><span class="ant-alert-message">警告提示的文案</span><span
                    class="ant-alert-description"></span></div>
            <div data-show="true" class="ant-alert ant-alert-error"><i
                    class="ant-alert-icon anticon anticon-cross-circle"></i><span
                    class="ant-alert-message">错误提示的文案</span><span class="ant-alert-description"></span></div>
            <div data-show="true" class="ant-alert ant-alert-success ant-alert-with-description"><i
                    class="ant-alert-icon anticon anticon-check-circle-o"></i><span
                    class="ant-alert-message">成功提示的文案</span><span class="ant-alert-description">成功提示的辅助性文字介绍成功提示的辅助性文字介绍成功提示的辅助性文字介绍成功提示的辅助性文字介绍</span>
            </div>
            <div data-show="true" class="ant-alert ant-alert-info ant-alert-with-description"><i
                    class="ant-alert-icon anticon anticon-info-circle-o"></i><span
                    class="ant-alert-message">消息提示的文案</span><span class="ant-alert-description">消息提示的辅助性文字介绍消息提示的辅助性文字介绍消息提示的辅助性文字介绍</span>
            </div>
            <div data-show="true" class="ant-alert ant-alert-warning ant-alert-with-description"><i
                    class="ant-alert-icon anticon anticon-exclamation-circle-o"></i><span class="ant-alert-message">警告提示的文案</span><span
                    class="ant-alert-description">警告提示的辅助性文字介绍警告提示的辅助性文字介绍</span></div>
            <div data-show="true" class="ant-alert ant-alert-error ant-alert-with-description"><i
                    class="ant-alert-icon anticon anticon-cross-circle-o"></i><span
                    class="ant-alert-message">错误提示的文案</span><span class="ant-alert-description">错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍</span>
                <a class="ant-alert-close-icon"><i class="anticon anticon-cross"></i></a>
            </div>
        </div>
    </div>
    <div class="code-box">
        <div class="code-box-title"><a href="#components-button-demo-basic">带图标的提示框</a></div>
        <span>样例说明</span>
        <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
    </div>
    <div class="code-body">
        这里是样例代码
    </div>
</div>

