<link rel="stylesheet" href="../src/components/collapse/style/index.css"/>

<h2>Collapse 折叠面板</h2>

<div class="ant-card ant-card-bordered">
    <div class="ant-card-head"><h4 class="ant-card-head-title">平行排列</h4></div>
    <div class="ant-card-extra"><a href="#">More</a></div>
    <div class="ant-card-body">
        <p class="tit">折叠面板</p>

        <div class="ant-collapse"><div class="ant-collapse-item"><div class="ant-collapse-header" role="tab" aria-expanded="true"><i class="arrow"></i><!-- react-text: 10972 -->This is panel header 1<!-- /react-text --></div><div class="ant-collapse-content ant-collapse-content-active" role="tabpanel"><div class="ant-collapse-content-box"><p>
            A dog is a type of domesticated animal.
            Known for its loyalty and faithfulness,
            it can be found as a welcome guest in many households across the world.
        </p></div></div></div><div class="ant-collapse-item"><div class="ant-collapse-header" role="tab" aria-expanded="false"><i class="arrow"></i><!-- react-text: 10979 -->This is panel header 2<!-- /react-text --></div><div class="ant-collapse-content ant-collapse-content-inactive" role="tabpanel"><div class="ant-collapse-content-box"><p>
            A dog is a type of domesticated animal.
            Known for its loyalty and faithfulness,
            it can be found as a welcome guest in many households across the world.
        </p></div></div></div><div class="ant-collapse-item"><div class="ant-collapse-header" role="tab" aria-expanded="true"><i class="arrow"></i><!-- react-text: 10984 -->This is panel header 3<!-- /react-text --></div><div class="ant-collapse-content ant-collapse-content-active" role="tabpanel"><div class="ant-collapse-content-box"><p>
            A dog is a type of domesticated animal.
            Known for its loyalty and faithfulness,
            it can be found as a welcome guest in many households across the world.
        </p></div></div></div></div>
    <p class="tit">手风琴</p>
        <div class="ant-collapse"><div class="ant-collapse-item"><div class="ant-collapse-header" role="tab" aria-expanded="false"><i class="arrow"></i><!-- react-text: 11033 -->This is panel header 1<!-- /react-text --></div><div class="ant-collapse-content ant-collapse-content-inactive" role="tabpanel"><div class="ant-collapse-content-box"><p>
            A dog is a type of domesticated animal.
            Known for its loyalty and faithfulness,
            it can be found as a welcome guest in many households across the world.
        </p></div></div></div><div class="ant-collapse-item"><div class="ant-collapse-header" role="tab" aria-expanded="true"><i class="arrow"></i><!-- react-text: 11038 -->This is panel header 2<!-- /react-text --></div><div class="ant-collapse-content ant-collapse-content-active" role="tabpanel"><div class="ant-collapse-content-box"><p>
            A dog is a type of domesticated animal.
            Known for its loyalty and faithfulness,
            it can be found as a welcome guest in many households across the world.
        </p></div></div></div><div class="ant-collapse-item"><div class="ant-collapse-header" role="tab" aria-expanded="false"><i class="arrow"></i><!-- react-text: 11043 -->This is panel header 3<!-- /react-text --></div><div class="ant-collapse-content ant-collapse-content-inactive" role="tabpanel"><div class="ant-collapse-content-box"><p>
            A dog is a type of domesticated animal.
            Known for its loyalty and faithfulness,
            it can be found as a welcome guest in many households across the world.
        </p></div></div></div></div>
    </div>
    <div class="code-box">
        <div class="code-box-title"><a href="#components-button-demo-basic">样例类型</a></div>
        <span>样例说明</span>
        <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
    </div>
    <div class="code-body">
        这里是样例代码<
    </div>
</div>
