<link rel="stylesheet" href="../src/components/steps/style/index.css"/>

<h2>步骤条</h2>

<div class="ant-card ant-card-bordered">
    <div class="ant-card-extra"><a href="#">More</a></div>
    <div class="ant-card-body">

        <p class="tit">基本</p>
        <div class="ant-steps ant-steps-horizontal ant-steps-label-horizontal">
            <div class="ant-steps-item ant-steps-status-finish" style="margin-right: -45.6667px; width: 33.3333%;">
                <div class="ant-steps-tail"><i></i></div>
                <div class="ant-steps-step">
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner"><span class="ant-steps-icon anticon anticon-check"></span>
                        </div>
                    </div>
                    <div class="ant-steps-main">
                        <div class="ant-steps-title">已完成</div>
                        <div class="ant-steps-description">这里是多信息的描述啊</div>
                    </div>
                </div>
            </div>
            <div class="ant-steps-item ant-steps-status-process" style="margin-right: -45.6667px; width: 33.3333%;">
                <div class="ant-steps-tail"><i></i></div>
                <div class="ant-steps-step">
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner"><span class="ant-steps-icon">2</span></div>
                    </div>
                    <div class="ant-steps-main">
                        <div class="ant-steps-title">进行中</div>
                        <div class="ant-steps-description">这里是多信息的耶哦耶哦哦耶哦耶</div>
                    </div>
                </div>
            </div>
            <div class="ant-steps-item ant-steps-status-wait" style="margin-right: -45.6667px; width: 33.3333%;">
                <div class="ant-steps-tail"><i></i></div>
                <div class="ant-steps-step">
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner"><span class="ant-steps-icon">3</span></div>
                    </div>
                    <div class="ant-steps-main">
                        <div class="ant-steps-title">又一个待运行</div>
                        <div class="ant-steps-description">描述啊描述啊</div>
                    </div>
                </div>
            </div>
            <div class="ant-steps-item ant-steps-item-last ant-steps-status-wait"><!-- react-text: 1809 -->
                <!-- /react-text -->
                <div class="ant-steps-step">
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner"><span class="ant-steps-icon">4</span></div>
                    </div>
                    <div class="ant-steps-main">
                        <div class="ant-steps-title">待运行</div>
                        <div class="ant-steps-description">这里是多信息的描述啊</div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<div class="ant-card ant-card-bordered">
    <div class="ant-card-extra"><a href="#">More</a></div>
    <div class="ant-card-body">

        <p class="tit">迷你版</p>
        <div class="ant-steps ant-steps-small ant-steps-horizontal ant-steps-label-horizontal">
            <div class="ant-steps-item ant-steps-status-finish" style="margin-right: -22.3333px; width: 33.3333%;">
                <div class="ant-steps-tail"><i></i></div>
                <div class="ant-steps-step">
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner"><span class="ant-steps-icon anticon anticon-check"></span>
                        </div>
                    </div>
                    <div class="ant-steps-main">
                        <div class="ant-steps-title">已完成</div><!-- react-text: 1840 --><!-- /react-text --></div>
                </div>
            </div>
            <div class="ant-steps-item ant-steps-status-process" style="margin-right: -22.3333px; width: 33.3333%;">
                <div class="ant-steps-tail"><i></i></div>
                <div class="ant-steps-step">
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner"><span class="ant-steps-icon">2</span></div>
                    </div>
                    <div class="ant-steps-main">
                        <div class="ant-steps-title">进行中</div><!-- react-text: 1850 --><!-- /react-text --></div>
                </div>
            </div>
            <div class="ant-steps-item ant-steps-status-wait" style="margin-right: -22.3333px; width: 33.3333%;">
                <div class="ant-steps-tail"><i></i></div>
                <div class="ant-steps-step">
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner"><span class="ant-steps-icon">3</span></div>
                    </div>
                    <div class="ant-steps-main">
                        <div class="ant-steps-title">待运行</div><!-- react-text: 1860 --><!-- /react-text --></div>
                </div>
            </div>
            <div class="ant-steps-item ant-steps-item-last ant-steps-status-wait"><!-- react-text: 1862 -->
                <!-- /react-text -->
                <div class="ant-steps-step">
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner"><span class="ant-steps-icon">4</span></div>
                    </div>
                    <div class="ant-steps-main">
                        <div class="ant-steps-title">待运行</div><!-- react-text: 1869 --><!-- /react-text --></div>
                </div>
            </div>
        </div>


    </div>
</div>


<div class="ant-card ant-card-bordered">
    <div class="ant-card-extra"><a href="#">More</a></div>
    <div class="ant-card-body">

        <p class="tit">带图标的步骤条</p>
        <div class="ant-steps ant-steps-horizontal ant-steps-label-horizontal">
            <div class="ant-steps-item ant-steps-status-finish ant-steps-custom"
                 style="margin-right: -32.8984px; width: 50%;">
                <div class="ant-steps-tail"><i></i></div>
                <div class="ant-steps-step">
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner"><span class="ant-steps-icon anticon anticon-cloud"></span>
                        </div>
                    </div>
                    <div class="ant-steps-main">
                        <div class="ant-steps-title">步骤1</div><!-- react-text: 418 --><!-- /react-text --></div>
                </div>
            </div>
            <div class="ant-steps-item ant-steps-status-process ant-steps-custom"
                 style="margin-right: -32.8984px; width: 50%;">
                <div class="ant-steps-tail"><i></i></div>
                <div class="ant-steps-step">
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner"><span class="ant-steps-icon anticon anticon-apple"></span>
                        </div>
                    </div>
                    <div class="ant-steps-main">
                        <div class="ant-steps-title">步骤2</div><!-- react-text: 428 --><!-- /react-text --></div>
                </div>
            </div>
            <div class="ant-steps-item ant-steps-item-last ant-steps-status-wait ant-steps-custom">
                <!-- react-text: 430 --><!-- /react-text -->
                <div class="ant-steps-step">
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner"><span class="ant-steps-icon anticon anticon-github"></span>
                        </div>
                    </div>
                    <div class="ant-steps-main">
                        <div class="ant-steps-title">步骤3</div><!-- react-text: 437 --><!-- /react-text --></div>
                </div>
            </div>
        </div>


    </div>
</div>


<div class="ant-card ant-card-bordered">
    <div class="ant-card-extra"><a href="#">More</a></div>
    <div class="ant-card-body">

        <p class="tit">竖直方向的步骤条</p>
        <div class="ant-steps ant-steps-vertical">
            <div class="ant-steps-item ant-steps-status-finish">
                <div class="ant-steps-tail"><i></i></div>
                <div class="ant-steps-step">
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner"><span class="ant-steps-icon anticon anticon-check"></span>
                        </div>
                    </div>
                    <div class="ant-steps-main">
                        <div class="ant-steps-title">已完成</div>
                        <div class="ant-steps-description">这里是信息的描述</div>
                    </div>
                </div>
            </div>
            <div class="ant-steps-item ant-steps-status-process">
                <div class="ant-steps-tail"><i></i></div>
                <div class="ant-steps-step">
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner"><span class="ant-steps-icon">2</span></div>
                    </div>
                    <div class="ant-steps-main">
                        <div class="ant-steps-title">进行中</div>
                        <div class="ant-steps-description">这里是信息的描述</div>
                    </div>
                </div>
            </div>
            <div class="ant-steps-item ant-steps-status-wait">
                <div class="ant-steps-tail"><i></i></div>
                <div class="ant-steps-step">
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner"><span class="ant-steps-icon">3</span></div>
                    </div>
                    <div class="ant-steps-main">
                        <div class="ant-steps-title">待运行</div>
                        <div class="ant-steps-description">这里是信息的描述</div>
                    </div>
                </div>
            </div>
            <div class="ant-steps-item ant-steps-item-last ant-steps-status-wait"><!-- react-text: 556 -->
                <!-- /react-text -->
                <div class="ant-steps-step">
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner"><span class="ant-steps-icon">4</span></div>
                    </div>
                    <div class="ant-steps-main">
                        <div class="ant-steps-title">又一个待运行</div>
                        <div class="ant-steps-description">这里是信息的描述</div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<div class="ant-card ant-card-bordered">
    <div class="ant-card-extra"><a href="#">More</a></div>
    <div class="ant-card-body">

        <p class="tit">竖直方向的小型步骤条</p>
        <div class="ant-steps ant-steps-small ant-steps-vertical">
            <div class="ant-steps-item ant-steps-status-finish">
                <div class="ant-steps-tail"><i></i></div>
                <div class="ant-steps-step">
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner"><span class="ant-steps-icon anticon anticon-check"></span>
                        </div>
                    </div>
                    <div class="ant-steps-main">
                        <div class="ant-steps-title">已完成</div>
                        <div class="ant-steps-description">这里是信息的描述</div>
                    </div>
                </div>
            </div>
            <div class="ant-steps-item ant-steps-status-process">
                <div class="ant-steps-tail"><i></i></div>
                <div class="ant-steps-step">
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner"><span class="ant-steps-icon">2</span></div>
                    </div>
                    <div class="ant-steps-main">
                        <div class="ant-steps-title">进行中</div>
                        <div class="ant-steps-description">这里是信息的描述</div>
                    </div>
                </div>
            </div>
            <div class="ant-steps-item ant-steps-item-last ant-steps-status-wait"><!-- react-text: 599 -->
                <!-- /react-text -->
                <div class="ant-steps-step">
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner"><span class="ant-steps-icon">3</span></div>
                    </div>
                    <div class="ant-steps-main">
                        <div class="ant-steps-title">待运行</div>
                        <div class="ant-steps-description">这里是信息的描述</div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<div class="ant-card ant-card-bordered">
    <div class="ant-card-extra"><a href="#">More</a></div>
    <div class="ant-card-body">

        <p class="tit">步骤运行错误</p>
        <div class="ant-steps ant-steps-horizontal ant-steps-label-horizontal">
            <div class="ant-steps-item ant-steps-status-finish ant-steps-next-error"
                 style="margin-right: -45.6667px; width: 33.3333%;">
                <div class="ant-steps-tail"><i></i></div>
                <div class="ant-steps-step">
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner"><span class="ant-steps-icon anticon anticon-check"></span>
                        </div>
                    </div>
                    <div class="ant-steps-main">
                        <div class="ant-steps-title">已完成</div>
                        <div class="ant-steps-description">这里是多信息的描述啊</div>
                    </div>
                </div>
            </div>
            <div class="ant-steps-item ant-steps-status-error" style="margin-right: -45.6667px; width: 33.3333%;">
                <div class="ant-steps-tail"><i></i></div>
                <div class="ant-steps-step">
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner"><span class="ant-steps-icon anticon anticon-cross"></span>
                        </div>
                    </div>
                    <div class="ant-steps-main">
                        <div class="ant-steps-title">错误示例</div>
                        <div class="ant-steps-description">这里是多信息的耶哦耶哦哦耶哦耶</div>
                    </div>
                </div>
            </div>
            <div class="ant-steps-item ant-steps-status-wait" style="margin-right: -45.6667px; width: 33.3333%;">
                <div class="ant-steps-tail"><i></i></div>
                <div class="ant-steps-step">
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner"><span class="ant-steps-icon">3</span></div>
                    </div>
                    <div class="ant-steps-main">
                        <div class="ant-steps-title">又一个待运行</div>
                        <div class="ant-steps-description">描述啊描述啊</div>
                    </div>
                </div>
            </div>
            <div class="ant-steps-item ant-steps-item-last ant-steps-status-wait"><!-- react-text: 652 -->
                <!-- /react-text -->
                <div class="ant-steps-step">
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner"><span class="ant-steps-icon">4</span></div>
                    </div>
                    <div class="ant-steps-main">
                        <div class="ant-steps-title">待运行</div>
                        <div class="ant-steps-description">这里是多信息的描述啊</div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
