<link rel="stylesheet" href="../src/components/timeline/style/index.css"/>

<h2>时间轴</h2>

<div class="ant-row">
    <div class="ant-col-11">
        <div class="ant-card ant-card-bordered">
            <div class="ant-card-body">

                <p class="tit">基本</p>
                <ul class="ant-timeline">
                    <li class="ant-timeline-item">
                        <div class="ant-timeline-item-tail"></div>
                        <div class="ant-timeline-item-head ant-timeline-item-head-blue"></div>
                        <div class="ant-timeline-item-content">创建服务现场 2015-09-01</div>
                    </li>
                    <li class="ant-timeline-item">
                        <div class="ant-timeline-item-tail"></div>
                        <div class="ant-timeline-item-head ant-timeline-item-head-blue"></div>
                        <div class="ant-timeline-item-content">初步排除网络异常 2015-09-01</div>
                    </li>
                    <li class="ant-timeline-item">
                        <div class="ant-timeline-item-tail"></div>
                        <div class="ant-timeline-item-head ant-timeline-item-head-blue"></div>
                        <div class="ant-timeline-item-content">技术测试异常 2015-09-01</div>
                    </li>
                    <li class="ant-timeline-item ant-timeline-item-last">
                        <div class="ant-timeline-item-tail"></div>
                        <div class="ant-timeline-item-head ant-timeline-item-head-blue"></div>
                        <div class="ant-timeline-item-content">网络异常正在修复 2015-09-01</div>
                    </li>
                </ul>

            </div>
        </div>


        <div class="ant-card ant-card-bordered">
            <div class="ant-card-body">

                <p class="tit">最后一个</p>
                <ul class="ant-timeline ant-timeline-pending">
                    <li class="ant-timeline-item">
                        <div class="ant-timeline-item-tail"></div>
                        <div class="ant-timeline-item-head ant-timeline-item-head-blue"></div>
                        <div class="ant-timeline-item-content">创建服务现场 2015-09-01</div>
                    </li>
                    <li class="ant-timeline-item">
                        <div class="ant-timeline-item-tail"></div>
                        <div class="ant-timeline-item-head ant-timeline-item-head-blue"></div>
                        <div class="ant-timeline-item-content">初步排除网络异常 2015-09-01</div>
                    </li>
                    <li class="ant-timeline-item ant-timeline-item-last">
                        <div class="ant-timeline-item-tail"></div>
                        <div class="ant-timeline-item-head ant-timeline-item-head-blue"></div>
                        <div class="ant-timeline-item-content">技术测试异常 2015-09-01</div>
                    </li>
                    <li class="ant-timeline-item ant-timeline-item-pending">
                        <div class="ant-timeline-item-tail"></div>
                        <div class="ant-timeline-item-head ant-timeline-item-head-blue"></div>
                        <div class="ant-timeline-item-content"><a href="#">查看更多</a></div>
                    </li>
                </ul>

            </div>
        </div>


    </div>

    <div class="ant-col-11 ant-col-offset-2">
        <div class="ant-card ant-card-bordered">
            <div class="ant-card-body">

                <p class="tit">圆圈颜色</p>
                <ul class="ant-timeline">
                    <li class="ant-timeline-item">
                        <div class="ant-timeline-item-tail"></div>
                        <div class="ant-timeline-item-head ant-timeline-item-head-green"></div>
                        <div class="ant-timeline-item-content">创建服务现场 2015-09-01</div>
                    </li>
                    <li class="ant-timeline-item">
                        <div class="ant-timeline-item-tail"></div>
                        <div class="ant-timeline-item-head ant-timeline-item-head-green"></div>
                        <div class="ant-timeline-item-content">创建服务现场 2015-09-01</div>
                    </li>
                    <li class="ant-timeline-item">
                        <div class="ant-timeline-item-tail"></div>
                        <div class="ant-timeline-item-head ant-timeline-item-head-red"></div>
                        <div class="ant-timeline-item-content"><p>初步排除网络异常1</p>
                            <p>初步排除网络异常2</p>
                            <p>初步排除网络异常3 2015-09-01</p></div>
                    </li>
                    <li class="ant-timeline-item ant-timeline-item-last">
                        <div class="ant-timeline-item-tail"></div>
                        <div class="ant-timeline-item-head ant-timeline-item-head-blue"></div>
                        <div class="ant-timeline-item-content"><p>技术测试异常1</p>
                            <p>技术测试异常2</p>
                            <p>技术测试异常3 2015-09-01</p></div>
                    </li>
                </ul>


            </div>
        </div>


        <div class="ant-card ant-card-bordered">
            <div class="ant-card-body">

                <p class="tit">自定义时间轴点</p>
                <ul class="ant-timeline">
                    <li class="ant-timeline-item">
                        <div class="ant-timeline-item-tail"></div>
                        <div class="ant-timeline-item-head ant-timeline-item-head-blue"></div>
                        <div class="ant-timeline-item-content">创建服务现场 2015-09-01</div>
                    </li>
                    <li class="ant-timeline-item">
                        <div class="ant-timeline-item-tail"></div>
                        <div class="ant-timeline-item-head ant-timeline-item-head-blue"></div>
                        <div class="ant-timeline-item-content">初步排除网络异常 2015-09-01</div>
                    </li>
                    <li class="ant-timeline-item">
                        <div class="ant-timeline-item-tail"></div>
                        <div class="ant-timeline-item-head ant-timeline-item-head-custom ant-timeline-item-head-red"><i
                                class="anticon anticon-clock-circle-o" style="font-size: 16px;"></i></div>
                        <div class="ant-timeline-item-content">技术测试异常 2015-09-01</div>
                    </li>
                    <li class="ant-timeline-item ant-timeline-item-last">
                        <div class="ant-timeline-item-tail"></div>
                        <div class="ant-timeline-item-head ant-timeline-item-head-blue"></div>
                        <div class="ant-timeline-item-content">网络异常正在修复 2015-09-01</div>
                    </li>
                </ul>


            </div>
        </div>


    </div>
</div>
