<link rel="stylesheet" href="../src/components/carousel/style/index.css"/>
<style>
    .ant-carousel .slick-slide {
        text-align: center;
        height: 100px;
        line-height: 100px;
        background: #71B5DE;
        color: #fff;
        overflow: hidden;
    }
</style>
<h2>Carousel 走马灯</h2>

<div class="ant-card ant-card-bordered" style="width:581.324px;">
    <div class="ant-card-head"><h4 class="ant-card-head-title">平行排列</h4></div>
    <div class="ant-card-extra"><a href="#">More</a></div>
    <div class="ant-card-body">
        <p class="tit">基本</p>
        <div class="ant-carousel">
            <div class="slick-initialized slick-slider">
                <div class="slick-list">
                    <div class="slick-track"
                         style="opacity: 1; width: 3199.94px; transform: translate3d(-533.324px, 0px, 0px);">
                        <div data-index="-1" class="slick-slide" style="width: 533.324px;"><h3>4</h3></div>
                        <div data-index="0" class="slick-slide slick-active" style="width: 533.324px;"><h3>1</h3></div>
                        <div data-index="1" class="slick-slide" style="width: 533.324px;"><h3>2</h3></div>
                        <div data-index="2" class="slick-slide" style="width: 533.324px;"><h3>3</h3></div>
                        <div data-index="3" class="slick-slide" style="width: 533.324px;"><h3>4</h3></div>
                        <div data-index="4" class="slick-slide slick-active" style="width: 533.324px;"><h3>1</h3></div>
                    </div>
                </div>
                <ul class="slick-dots" style="display: block;">
                    <li class="slick-active">
                        <button>1</button>
                    </li>
                    <li class="">
                        <button>2</button>
                    </li>
                    <li class="">
                        <button>3</button>
                    </li>
                    <li class="">
                        <button>4</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="code-box">
        <div class="code-box-title"><a href="#components-button-demo-basic">样例类型</a></div>
        <span>样例说明</span>
        <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
    </div>
    <div class="code-body">
        这里是样例代码<
    </div>
</div>


<div class="ant-row">
    <div class="ant-col-11">

    </div>
    <div class="ant-col-11 ant-col-offset-2">
    </div>
</div>
