<link rel="stylesheet" href="../src/components/checkbox/style/index.css"/>
<div class="ant-card ant-card-bordered" style="width: 400px;">
    <div class="ant-card-head"><h4 class="ant-card-head-title">多选框类型</h4></div>
    <div class="ant-card-extra"><a href="#">More</a></div>
    <div class="ant-card-body">
        <p class="tit">普通选择框</p>
        <label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                class="ant-checkbox-inner"></span><input type="checkbox"
                                                         class="ant-checkbox-input"></span><span>未选中</span></label>
        <label class="ant-checkbox-wrapper"><span class="ant-checkbox ant-checkbox-checked ant-checkbox-checked-1"><span
                class="ant-checkbox-inner"></span><input type="checkbox"
                                                         class="ant-checkbox-input"></span><span>选中</span></label>
        <label class="ant-checkbox-wrapper"><span class="ant-checkbox ant-checkbox-disabled"><span
                class="ant-checkbox-inner"></span><input type="checkbox" disabled="" class="ant-checkbox-input"></span><span>不可用未选中</span></label>
        <label class="ant-checkbox-wrapper"><span
                class="ant-checkbox ant-checkbox-checked ant-checkbox-checked-1 ant-checkbox-disabled"><span
                class="ant-checkbox-inner"></span><input type="checkbox" disabled="" class="ant-checkbox-input"></span><span>不可用选中</span></label>
        <p class="tit">选择框组</p>
        <div class="ant-checkbox-group"><label class="ant-checkbox-group-item ant-checkbox-wrapper"><span
                class="ant-checkbox"><span class="ant-checkbox-inner"></span><input type="checkbox"
                                                                                    class="ant-checkbox-input"></span><span>Apple</span></label><label
                class="ant-checkbox-group-item ant-checkbox-wrapper"><span class="ant-checkbox"><span
                class="ant-checkbox-inner"></span><input type="checkbox"
                                                         class="ant-checkbox-input"></span><span>Pear</span></label><label
                class="ant-checkbox-group-item ant-checkbox-wrapper"><span class="ant-checkbox"><span
                class="ant-checkbox-inner"></span><input type="checkbox"
                                                         class="ant-checkbox-input"></span><span>Orange</span></label>
        </div>
    </div>
</div>
