<link rel="stylesheet" href="../src/components/time-picker/style/index.css"/>

<style>
    .ant-card-body .ant-time-picker {
        margin: 0 8px 12px 0;
    }
</style>

<h2>TimePicker 时间选择框</h2>

<div class="ant-card ant-card-bordered">
    <div class="ant-card-body">
        <p class="tit">基本用法</p>
        <span class="ant-time-picker "><input type="text" class="ant-time-picker-input" placeholder="请选择时间" readonly=""
                                              value=""><span class="ant-time-picker-icon"></span></span>
        <p class="tit">三种大小</p>
        <div><span class="ant-time-picker ant-time-picker-large"><input type="text" class="ant-time-picker-input"
                                                                        placeholder="请选择时间" readonly=""
                                                                        value="12:11:50"><span
                class="ant-time-picker-icon"></span></span><span class="ant-time-picker "><input type="text"
                                                                                                 class="ant-time-picker-input"
                                                                                                 placeholder="请选择时间"
                                                                                                 readonly=""
                                                                                                 value="12:08:23"><span
                class="ant-time-picker-icon"></span></span><span class="ant-time-picker ant-time-picker-small"><input
                type="text" class="ant-time-picker-input" placeholder="请选择时间" readonly="" value="12:08:23"><span
                class="ant-time-picker-icon"></span></span></div>
    </div>
    <div class="code-box">
        <div class="code-box-title"><a href="#components-button-demo-basic">样例类型</a></div>
        <span>样例说明</span>
        <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
    </div>
    <div class="code-body">
        这里是样例代码<
    </div>
</div>


<div class="ant-time-picker-panel ant-time-picker-panel-placement-bottomLeft" style="left: 688.922px;
    top: 175.563px;">
    <div class="ant-time-picker-panel-inner">
        <div class="ant-time-picker-panel-input-wrap"><input class="ant-time-picker-panel-input  " value=""
                                                             placeholder="请选择时间"><a
                class="ant-time-picker-panel-clear-btn" role="button" title="清除"></a></div>
        <div class="ant-time-picker-panel-combobox">
            <div class="ant-time-picker-panel-select">
                <ul>
                    <li class="">00</li>
                    <li class="">01</li>
                    <li class="">02</li>
                    <li class="">03</li>
                    <li class="">04</li>
                    <li class="">05</li>
                    <li class="">06</li>
                    <li class="">07</li>
                    <li class="">08</li>
                    <li class="ant-time-picker-panel-select-option-selected">09</li>
                    <li class="">10</li>
                    <li class="">11</li>
                    <li class="">12</li>
                    <li class="">13</li>
                    <li class="">14</li>
                    <li class="">15</li>
                    <li class="">16</li>
                    <li class="">17</li>
                    <li class="">18</li>
                    <li class="">19</li>
                    <li class="">20</li>
                    <li class="">21</li>
                    <li class="">22</li>
                    <li class="">23</li>
                </ul>
            </div>
            <div class="ant-time-picker-panel-select">
                <ul>
                    <li class="">00</li>
                    <li class="">01</li>
                    <li class="">02</li>
                    <li class="">03</li>
                    <li class="">04</li>
                    <li class="">05</li>
                    <li class="">06</li>
                    <li class="">07</li>
                    <li class="">08</li>
                    <li class="">09</li>
                    <li class="">10</li>
                    <li class="">11</li>
                    <li class="">12</li>
                    <li class="">13</li>
                    <li class="">14</li>
                    <li class="">15</li>
                    <li class="">16</li>
                    <li class="">17</li>
                    <li class="">18</li>
                    <li class="">19</li>
                    <li class="">20</li>
                    <li class="">21</li>
                    <li class="">22</li>
                    <li class="">23</li>
                    <li class="">24</li>
                    <li class="">25</li>
                    <li class="">26</li>
                    <li class="">27</li>
                    <li class="">28</li>
                    <li class="">29</li>
                    <li class="">30</li>
                    <li class="">31</li>
                    <li class="">32</li>
                    <li class="">33</li>
                    <li class="">34</li>
                    <li class="">35</li>
                    <li class="">36</li>
                    <li class="">37</li>
                    <li class="">38</li>
                    <li class="">39</li>
                    <li class="">40</li>
                    <li class="">41</li>
                    <li class="">42</li>
                    <li class="">43</li>
                    <li class="">44</li>
                    <li class="">45</li>
                    <li class="">46</li>
                    <li class="">47</li>
                    <li class="">48</li>
                    <li class="">49</li>
                    <li class="">50</li>
                    <li class="">51</li>
                    <li class="ant-time-picker-panel-select-option-selected">52</li>
                    <li class="">53</li>
                    <li class="">54</li>
                    <li class="">55</li>
                    <li class="">56</li>
                    <li class="">57</li>
                    <li class="">58</li>
                    <li class="">59</li>
                </ul>
            </div>
            <div class="ant-time-picker-panel-select">
                <ul>
                    <li class="">00</li>
                    <li class="">01</li>
                    <li class="">02</li>
                    <li class="">03</li>
                    <li class="">04</li>
                    <li class="">05</li>
                    <li class="">06</li>
                    <li class="">07</li>
                    <li class="ant-time-picker-panel-select-option-selected">08</li>
                    <li class="">09</li>
                    <li class="">10</li>
                    <li class="">11</li>
                    <li class="">12</li>
                    <li class="">13</li>
                    <li class="">14</li>
                    <li class="">15</li>
                    <li class="">16</li>
                    <li class="">17</li>
                    <li class="">18</li>
                    <li class="">19</li>
                    <li class="">20</li>
                    <li class="">21</li>
                    <li class="">22</li>
                    <li class="">23</li>
                    <li class="">24</li>
                    <li class="">25</li>
                    <li class="">26</li>
                    <li class="">27</li>
                    <li class="">28</li>
                    <li class="">29</li>
                    <li class="">30</li>
                    <li class="">31</li>
                    <li class="">32</li>
                    <li class="">33</li>
                    <li class="">34</li>
                    <li class="">35</li>
                    <li class="">36</li>
                    <li class="">37</li>
                    <li class="">38</li>
                    <li class="">39</li>
                    <li class="">40</li>
                    <li class="">41</li>
                    <li class="">42</li>
                    <li class="">43</li>
                    <li class="">44</li>
                    <li class="">45</li>
                    <li class="">46</li>
                    <li class="">47</li>
                    <li class="">48</li>
                    <li class="">49</li>
                    <li class="">50</li>
                    <li class="">51</li>
                    <li class="">52</li>
                    <li class="">53</li>
                    <li class="">54</li>
                    <li class="">55</li>
                    <li class="">56</li>
                    <li class="">57</li>
                    <li class="">58</li>
                    <li class="">59</li>
                </ul>
            </div>
        </div>
    </div>
</div>
