<link rel="stylesheet" href="../src/components/transfer/style/index.css"/>
<link rel="stylesheet" href="../src/components/checkbox/style/index.css"/>
<link rel="stylesheet" href="../src/components/button/style/index.css"/>
<link rel="stylesheet" href="../src/components/input/style/index.css"/>

<h2>Transfer 穿梭框</h2>

<div class="ant-card ant-card-bordered">
    <div class="ant-card-body">
        <div class="ant-transfer">
            <div class="ant-transfer-list">
                <div class="ant-transfer-list-header"><span
                        class="ant-transfer-checkbox ant-transfer-checkbox-indeterminate"><span
                        class="ant-transfer-checkbox-inner"></span></span><span
                        class="ant-transfer-list-header-selected"><span><!-- react-text: 913 -->19<!-- /react-text -->
                    <!-- react-text: 914 --> <!-- /react-text --><!-- react-text: 915 -->条
                    <!-- /react-text --></span><span class="ant-transfer-list-header-title">源列表</span></span></div>
                <div class="ant-transfer-list-body">
                    <ul>
                        <li title="内容2" class=""><label class="ant-checkbox-wrapper"><span
                                class="ant-checkbox ant-checkbox-checked ant-checkbox-checked-1"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容2</span></li>
                        <li title="内容3" class=""><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容3</span></li>
                        <li title="内容4" class=""><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容4</span></li>
                        <li title="内容5" class=""><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容5</span></li>
                        <li title="内容6" class=""><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容6</span></li>
                        <li title="内容7" class=""><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容7</span></li>
                        <li title="内容8" class=""><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容8</span></li>
                        <li title="内容9" class=""><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容9</span></li>
                        <li title="内容10" class=""><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容10</span>
                        </li>
                        <li title="内容11" class=""><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容11</span>
                        </li>
                        <li title="内容12" class=""><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容12</span>
                        </li>
                        <li title="内容13" class=""><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容13</span>
                        </li>
                        <li title="内容14" class=""><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容14</span>
                        </li>
                        <li title="内容15" class=""><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容15</span>
                        </li>
                        <li title="内容16" class=""><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容16</span>
                        </li>
                        <li title="内容17" class=""><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容17</span>
                        </li>
                        <li title="内容18" class=""><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容18</span>
                        </li>
                        <li title="内容19" class=""><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容19</span>
                        </li>
                        <li title="内容20" class=""><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容20</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ant-transfer-operation">
                <button type="button" class="ant-btn ant-btn-primary ant-btn-sm" disabled=""><span><i
                        class="anticon anticon-left"></i><!-- react-text: 924 --><!-- /react-text --></span></button>
                <button type="button" class="ant-btn ant-btn-primary ant-btn-sm"><span><!-- react-text: 927 -->
                    <!-- /react-text --><i class="anticon anticon-right"></i></span></button>
            </div>
            <div class="ant-transfer-list">
                <div class="ant-transfer-list-header"><span class="ant-transfer-checkbox"><span
                        class="ant-transfer-checkbox-inner"></span></span><span
                        class="ant-transfer-list-header-selected"><span><!-- react-text: 935 -->1<!-- /react-text -->
                    <!-- react-text: 936 --> <!-- /react-text --><!-- react-text: 937 -->条
                    <!-- /react-text --></span><span class="ant-transfer-list-header-title">目的列表</span></span></div>
                <div class="ant-transfer-list-body">
                    <ul>
                        <li title="内容1" class=""><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容1</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="code-box">
        <div class="code-box-title"><a href="#components-button-demo-basic">基本用法</a></div>
        <span>样例说明</span>
        <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
    </div>
    <div class="code-body">
        这里是样例代码<
    </div>
</div>
<div class="ant-card ant-card-bordered">
    <div class="ant-card-body">
        <div class="ant-transfer">
            <div class="ant-transfer-list">
                <div class="ant-transfer-list-header"><span class="ant-transfer-checkbox ant-transfer-checkbox-checked"><span
                        class="ant-transfer-checkbox-inner"></span></span><span
                        class="ant-transfer-list-header-selected"><span><!-- react-text: 962 -->6/6<!-- /react-text -->
                    <!-- react-text: 963 --> <!-- /react-text --><!-- react-text: 964 -->条
                    <!-- /react-text --></span><span class="ant-transfer-list-header-title">源列表</span></span></div>
                <div class="ant-transfer-list-body ant-transfer-list-body-with-search">
                    <div class="ant-transfer-list-body-search-wrapper">
                        <div><input placeholder="请输入搜索内容" class="ant-transfer-list-search ant-input" value=""><span
                                class="ant-transfer-list-search-action"><i class="anticon anticon-search"></i></span>
                        </div>
                    </div>
                    <ul>
                        <li title="内容1" class=""><label class="ant-checkbox-wrapper"><span
                                class="ant-checkbox ant-checkbox-checked ant-checkbox-checked-1"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容1</span></li>
                        <li title="内容2" class=""><label class="ant-checkbox-wrapper"><span
                                class="ant-checkbox ant-checkbox-checked ant-checkbox-checked-1"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容2</span></li>
                        <li title="内容3" class=""><label class="ant-checkbox-wrapper"><span
                                class="ant-checkbox ant-checkbox-checked ant-checkbox-checked-1"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容3</span></li>
                        <li title="内容4" class=""><label class="ant-checkbox-wrapper"><span
                                class="ant-checkbox ant-checkbox-checked ant-checkbox-checked-1"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容4</span></li>
                        <li title="内容15" class=""><label class="ant-checkbox-wrapper"><span
                                class="ant-checkbox ant-checkbox-checked ant-checkbox-checked-1"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容15</span>
                        </li>
                        <li title="内容16" class=""><label class="ant-checkbox-wrapper"><span
                                class="ant-checkbox ant-checkbox-checked ant-checkbox-checked-1"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容16</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ant-transfer-operation">
                <button disabled="" type="button" class="ant-btn ant-btn-primary ant-btn-sm"><span><i
                        class="anticon anticon-left"></i><!-- react-text: 978 --><!-- /react-text --></span></button>
                <button type="button" class="ant-btn ant-btn-primary ant-btn-sm"><span><!-- react-text: 981 -->
                    <!-- /react-text --><i class="anticon anticon-right"></i></span></button>
            </div>
            <div class="ant-transfer-list">
                <div class="ant-transfer-list-header"><span class="ant-transfer-checkbox"><span
                        class="ant-transfer-checkbox-inner"></span></span><span
                        class="ant-transfer-list-header-selected"><span><!-- react-text: 989 -->14<!-- /react-text -->
                    <!-- react-text: 990 --> <!-- /react-text --><!-- react-text: 991 -->条
                    <!-- /react-text --></span><span class="ant-transfer-list-header-title">目的列表</span></span></div>
                <div class="ant-transfer-list-body ant-transfer-list-body-with-search">
                    <div class="ant-transfer-list-body-search-wrapper">
                        <div><input placeholder="请输入搜索内容" class="ant-transfer-list-search ant-input" value=""><span
                                class="ant-transfer-list-search-action"><i class="anticon anticon-search"></i></span>
                        </div>
                    </div>
                    <ul>
                        <li title="内容5"><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容5</span></li>
                        <li title="内容6"><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容6</span></li>
                        <li title="内容7"><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容7</span></li>
                        <li title="内容8"><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容8</span></li>
                        <li title="内容9"><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容9</span></li>
                        <li title="内容10"><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容10</span>
                        </li>
                        <li title="内容11"><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容11</span>
                        </li>
                        <li title="内容12"><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容12</span>
                        </li>
                        <li title="内容13"><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容13</span>
                        </li>
                        <li title="内容14"><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容14</span>
                        </li>
                        <li title="内容17"><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容17</span>
                        </li>
                        <li title="内容18"><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容18</span>
                        </li>
                        <li title="内容19"><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容19</span>
                        </li>
                        <li title="内容20"><label class="ant-checkbox-wrapper"><span class="ant-checkbox"><span
                                class="ant-checkbox-inner"></span><input type="checkbox" class="ant-checkbox-input"
                                                                         value="on"></span></label><span>内容20</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="code-box">
        <div class="code-box-title"><a href="#components-button-demo-basic">带搜索框</a></div>
        <span>样例说明</span>
        <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
    </div>
    <div class="code-body">
        这里是样例代码<
    </div>
</div>
<div class="ant-card ant-card-bordered">
    <div class="ant-card-body">
        <div class="ant-transfer">
            <div class="ant-transfer-list ant-transfer-list-with-footer" style="width: 250px; height: 300px;">
                <div class="ant-transfer-list-header"><span class="ant-transfer-checkbox"><span
                        class="ant-transfer-checkbox-inner"></span></span><span
                        class="ant-transfer-list-header-selected"><span><!-- react-text: 1021 -->14<!-- /react-text -->
                    <!-- react-text: 1022 --> <!-- /react-text --><!-- react-text: 1023 -->条
                    <!-- /react-text --></span><span class="ant-transfer-list-header-title">源列表</span></span></div>
                <div class="ant-transfer-list-body ant-transfer-list-body-with-search">
                    <div class="ant-transfer-list-body-search-wrapper">
                        <div><input placeholder="请输入搜索内容" class="ant-transfer-list-search ant-input" value=""><span
                                class="ant-transfer-list-search-action"><i class="anticon anticon-search"></i></span>
                        </div>
                    </div>
                    <ul>
                        <li title="内容3-内容3的描述" class=""><label class="ant-checkbox-wrapper"><span
                                class="ant-checkbox"><span class="ant-checkbox-inner"></span><input type="checkbox"
                                                                                                    class="ant-checkbox-input"
                                                                                                    value="on"></span></label><span>内容3-内容3的描述</span>
                        </li>
                        <li title="内容4-内容4的描述" class=""><label class="ant-checkbox-wrapper"><span
                                class="ant-checkbox"><span class="ant-checkbox-inner"></span><input type="checkbox"
                                                                                                    class="ant-checkbox-input"
                                                                                                    value="on"></span></label><span>内容4-内容4的描述</span>
                        </li>
                        <li title="内容6-内容6的描述" class=""><label class="ant-checkbox-wrapper"><span
                                class="ant-checkbox"><span class="ant-checkbox-inner"></span><input type="checkbox"
                                                                                                    class="ant-checkbox-input"
                                                                                                    value="on"></span></label><span>内容6-内容6的描述</span>
                        </li>
                        <li title="内容7-内容7的描述" class=""><label class="ant-checkbox-wrapper"><span
                                class="ant-checkbox"><span class="ant-checkbox-inner"></span><input type="checkbox"
                                                                                                    class="ant-checkbox-input"
                                                                                                    value="on"></span></label><span>内容7-内容7的描述</span>
                        </li>
                        <li title="内容8-内容8的描述" class=""><label class="ant-checkbox-wrapper"><span
                                class="ant-checkbox"><span class="ant-checkbox-inner"></span><input type="checkbox"
                                                                                                    class="ant-checkbox-input"
                                                                                                    value="on"></span></label><span>内容8-内容8的描述</span>
                        </li>
                        <li title="内容9-内容9的描述" class=""><label class="ant-checkbox-wrapper"><span
                                class="ant-checkbox"><span class="ant-checkbox-inner"></span><input type="checkbox"
                                                                                                    class="ant-checkbox-input"
                                                                                                    value="on"></span></label><span>内容9-内容9的描述</span>
                        </li>
                        <li title="内容10-内容10的描述" class=""><label class="ant-checkbox-wrapper"><span
                                class="ant-checkbox"><span class="ant-checkbox-inner"></span><input type="checkbox"
                                                                                                    class="ant-checkbox-input"
                                                                                                    value="on"></span></label><span>内容10-内容10的描述</span>
                        </li>
                        <li title="内容11-内容11的描述" class=""><label class="ant-checkbox-wrapper"><span
                                class="ant-checkbox"><span class="ant-checkbox-inner"></span><input type="checkbox"
                                                                                                    class="ant-checkbox-input"
                                                                                                    value="on"></span></label><span>内容11-内容11的描述</span>
                        </li>
                        <li title="内容13-内容13的描述" class=""><label class="ant-checkbox-wrapper"><span
                                class="ant-checkbox"><span class="ant-checkbox-inner"></span><input type="checkbox"
                                                                                                    class="ant-checkbox-input"
                                                                                                    value="on"></span></label><span>内容13-内容13的描述</span>
                        </li>
                        <li title="内容14-内容14的描述" class=""><label class="ant-checkbox-wrapper"><span
                                class="ant-checkbox"><span class="ant-checkbox-inner"></span><input type="checkbox"
                                                                                                    class="ant-checkbox-input"
                                                                                                    value="on"></span></label><span>内容14-内容14的描述</span>
                        </li>
                        <li title="内容15-内容15的描述" class=""><label class="ant-checkbox-wrapper"><span
                                class="ant-checkbox"><span class="ant-checkbox-inner"></span><input type="checkbox"
                                                                                                    class="ant-checkbox-input"
                                                                                                    value="on"></span></label><span>内容15-内容15的描述</span>
                        </li>
                        <li title="内容17-内容17的描述" class=""><label class="ant-checkbox-wrapper"><span
                                class="ant-checkbox"><span class="ant-checkbox-inner"></span><input type="checkbox"
                                                                                                    class="ant-checkbox-input"
                                                                                                    value="on"></span></label><span>内容17-内容17的描述</span>
                        </li>
                        <li title="内容19-内容19的描述" class=""><label class="ant-checkbox-wrapper"><span
                                class="ant-checkbox"><span class="ant-checkbox-inner"></span><input type="checkbox"
                                                                                                    class="ant-checkbox-input"
                                                                                                    value="on"></span></label><span>内容19-内容19的描述</span>
                        </li>
                        <li title="内容20-内容20的描述" class=""><label class="ant-checkbox-wrapper"><span
                                class="ant-checkbox"><span class="ant-checkbox-inner"></span><input type="checkbox"
                                                                                                    class="ant-checkbox-input"
                                                                                                    value="on"></span></label><span>内容20-内容20的描述</span>
                        </li>
                    </ul>
                </div>
                <div class="ant-transfer-list-footer">
                    <button type="button" class="ant-btn ant-btn-ghost ant-btn-sm" style="float: right; margin: 5px;">
                        <span>刷 新</span></button>
                </div>
            </div>
            <div class="ant-transfer-operation">
                <button type="button" class="ant-btn ant-btn-primary ant-btn-sm" disabled=""><span><i
                        class="anticon anticon-left"></i><!-- react-text: 1040 -->向左操作文案<!-- /react-text --></span>
                </button>
                <button type="button" class="ant-btn ant-btn-primary ant-btn-sm" disabled=""><span><!-- react-text: 1043 -->向右操作文案
                    <!-- /react-text --><i class="anticon anticon-right"></i></span></button>
            </div>
            <div class="ant-transfer-list ant-transfer-list-with-footer" style="width: 250px; height: 300px;">
                <div class="ant-transfer-list-header"><span class="ant-transfer-checkbox"><span
                        class="ant-transfer-checkbox-inner"></span></span><span
                        class="ant-transfer-list-header-selected"><span><!-- react-text: 1051 -->6<!-- /react-text -->
                    <!-- react-text: 1052 --> <!-- /react-text --><!-- react-text: 1053 -->条
                    <!-- /react-text --></span><span class="ant-transfer-list-header-title">目的列表</span></span></div>
                <div class="ant-transfer-list-body ant-transfer-list-body-with-search">
                    <div class="ant-transfer-list-body-search-wrapper">
                        <div><input placeholder="请输入搜索内容" class="ant-transfer-list-search ant-input" value=""><span
                                class="ant-transfer-list-search-action"><i class="anticon anticon-search"></i></span>
                        </div>
                    </div>
                    <ul>
                        <li title="内容1-内容1的描述" class=""><label class="ant-checkbox-wrapper"><span
                                class="ant-checkbox"><span class="ant-checkbox-inner"></span><input type="checkbox"
                                                                                                    class="ant-checkbox-input"
                                                                                                    value="on"></span></label><span>内容1-内容1的描述</span>
                        </li>
                        <li title="内容2-内容2的描述" class=""><label class="ant-checkbox-wrapper"><span
                                class="ant-checkbox"><span class="ant-checkbox-inner"></span><input type="checkbox"
                                                                                                    class="ant-checkbox-input"
                                                                                                    value="on"></span></label><span>内容2-内容2的描述</span>
                        </li>
                        <li title="内容5-内容5的描述" class=""><label class="ant-checkbox-wrapper"><span
                                class="ant-checkbox"><span class="ant-checkbox-inner"></span><input type="checkbox"
                                                                                                    class="ant-checkbox-input"
                                                                                                    value="on"></span></label><span>内容5-内容5的描述</span>
                        </li>
                        <li title="内容12-内容12的描述" class=""><label class="ant-checkbox-wrapper"><span
                                class="ant-checkbox"><span class="ant-checkbox-inner"></span><input type="checkbox"
                                                                                                    class="ant-checkbox-input"
                                                                                                    value="on"></span></label><span>内容12-内容12的描述</span>
                        </li>
                        <li title="内容16-内容16的描述" class=""><label class="ant-checkbox-wrapper"><span
                                class="ant-checkbox"><span class="ant-checkbox-inner"></span><input type="checkbox"
                                                                                                    class="ant-checkbox-input"
                                                                                                    value="on"></span></label><span>内容16-内容16的描述</span>
                        </li>
                        <li title="内容18-内容18的描述" class=""><label class="ant-checkbox-wrapper"><span
                                class="ant-checkbox"><span class="ant-checkbox-inner"></span><input type="checkbox"
                                                                                                    class="ant-checkbox-input"
                                                                                                    value="on"></span></label><span>内容18-内容18的描述</span>
                        </li>
                    </ul>
                </div>
                <div class="ant-transfer-list-footer">
                    <button type="button" class="ant-btn ant-btn-ghost ant-btn-sm" style="float: right; margin: 5px;">
                        <span>刷 新</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="code-box">
        <div class="code-box-title"><a href="#components-button-demo-basic">高级用法</a></div>
        <span>样例说明</span>
        <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
    </div>
    <div class="code-body">
        这里是样例代码<
    </div>
</div>


<div class="ant-row">
    <div class="ant-col-11">

    </div>
    <div class="ant-col-11 ant-col-offset-2">
    </div>
</div>
