<link rel="stylesheet" href="../src/components/tooltip/style/index.css"/>


<style>
    a {
        display: inline-block;
        line-height: 32px;
        height: 32px;
        width: 60px;
        font-size: 14px;
        text-align: center;
        background: #f5f5f5;
        margin-right: 1em;
        margin-bottom: 1em;
        border-radius: 6px;
    }
</style>
<style>
    .ant-tooltip-hidden {
        display: block;
    }
</style>

<h2>文字提示</h2>


<div class="ant-row">
    <div class="ant-col-11">
        <div class="ant-card ant-card-bordered">
            <div class="ant-card-body">

                <p class="tit">基本</p>
                <section class="code-box-demo">
                    <span>鼠标移上来就会出现提示</span>
                </section>

            </div>
        </div>


    </div>

    <div class="ant-col-11 ant-col-offset-2">
        <div class="ant-card ant-card-bordered">
            <div class="ant-card-body">

                <p class="tit">位置</p>
                <div>
                    <div style="margin-left: 60px;"><a href="#">上左</a><a href="#">上边</a><a href="#">上右</a></div>
                    <div style="width: 60px; float: left;"><a href="#">左上</a><a href="#">左边</a><a href="#">左下</a></div>
                    <div style="width: 60px; margin-left: 270px;"><a href="#">右上</a><a href="#">右边</a><a href="#">右下</a>
                    </div>
                    <div style="margin-left: 60px; clear: both;"><a href="#">上右</a><a href="#">下边</a><a href="#">下右</a>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>


<div class="ant-tooltip  ant-tooltip-placement-top  ant-tooltip-hidden"
     style="left: 447.156px; top: 458.562px; transform-origin: 50% 51px 0px;">
    <div class="ant-tooltip-content">
        <div class="ant-tooltip-arrow"></div>
        <div class="ant-tooltip-inner">提示文字</div>
    </div>
</div>

<div class="ant-tooltip  ant-tooltip-placement-left  ant-tooltip-hidden"
     style="left: 888.312px; top: 598.562px; transform-origin: 85px 50% 0px;">
    <div class="ant-tooltip-content">
        <div class="ant-tooltip-arrow"></div>
        <div class="ant-tooltip-inner"><span>提示文字</span></div>
    </div>
</div>

<div class="ant-tooltip  ant-tooltip-placement-leftTop  ant-tooltip-hidden" style="left: 888.312px; top: 556.562px; transform-origin: 85px 13px 0px;"><div class="ant-tooltip-content"><div class="ant-tooltip-arrow"></div><div class="ant-tooltip-inner"><span>提示文字</span></div></div></div>

<div class="ant-tooltip  ant-tooltip-placement-topLeft  ant-tooltip-hidden" style="left: 1042.31px; top: 456.562px; transform-origin: 21px 51px 0px;"><div class="ant-tooltip-content"><div class="ant-tooltip-arrow"></div><div class="ant-tooltip-inner"><span>提示文字</span></div></div></div>

<div class="ant-tooltip  ant-tooltip-placement-top  ant-tooltip-hidden" style="left: 1103.31px; top: 456.562px; transform-origin: 50% 51px 0px;"><div class="ant-tooltip-content"><div class="ant-tooltip-arrow"></div><div class="ant-tooltip-inner"><span>提示文字</span></div></div></div>

<div class="ant-tooltip  ant-tooltip-placement-topRight  ant-tooltip-hidden" style="left: 1164.31px; top: 456.562px; transform-origin: 47px 51px 0px;"><div class="ant-tooltip-content"><div class="ant-tooltip-arrow"></div><div class="ant-tooltip-inner"><span>提示文字</span></div></div></div>

<div class="ant-tooltip  ant-tooltip-placement-right  ant-tooltip-hidden" style="left: 1307.31px; top: 598.562px; transform-origin: -4px 50% 0px;"><div class="ant-tooltip-content"><div class="ant-tooltip-arrow"></div><div class="ant-tooltip-inner"><span>提示文字</span></div></div></div>

<div class="ant-tooltip  ant-tooltip-placement-rightBottom  ant-tooltip-hidden" style="left: 1307.31px; top: 640.562px; transform-origin: -4px 21px 0px;"><div class="ant-tooltip-content"><div class="ant-tooltip-arrow"></div><div class="ant-tooltip-inner"><span>提示文字</span></div></div></div>

<div class="ant-tooltip  ant-tooltip-placement-bottomRight  ant-tooltip-hidden" style="left: 1164.31px; top: 727.562px; transform-origin: 47px -4px 0px;"><div class="ant-tooltip-content"><div class="ant-tooltip-arrow"></div><div class="ant-tooltip-inner"><span>提示文字</span></div></div></div>

<div class="ant-tooltip  ant-tooltip-placement-bottom  ant-tooltip-hidden" style="left: 1103.31px; top: 727.562px; transform-origin: 50% -4px 0px;"><div class="ant-tooltip-content"><div class="ant-tooltip-arrow"></div><div class="ant-tooltip-inner"><span>提示文字</span></div></div></div>

<div class="ant-tooltip  ant-tooltip-placement-bottomLeft  ant-tooltip-hidden" style="left: 1042.31px; top: 727.562px; transform-origin: 21px -4px 0px;"><div class="ant-tooltip-content"><div class="ant-tooltip-arrow"></div><div class="ant-tooltip-inner"><span>提示文字</span></div></div></div>

<div class="ant-tooltip  ant-tooltip-placement-leftBottom  ant-tooltip-hidden" style="left: 888.312px; top: 640.562px; transform-origin: 85px 21px 0px;"><div class="ant-tooltip-content"><div class="ant-tooltip-arrow"></div><div class="ant-tooltip-inner"><span>提示文字</span></div></div></div>

<div class="ant-tooltip  ant-tooltip-placement-rightTop  ant-tooltip-hidden" style="left: 1307.31px; top: 556.562px; transform-origin: -4px 13px 0px;"><div class="ant-tooltip-content"><div class="ant-tooltip-arrow"></div><div class="ant-tooltip-inner"><span>提示文字</span></div></div></div>
